/*

* Override Pages default styles or create your own styles here

*/

/***********************
Dashboard Layout
************************/
/*.header {
    background-color: #a6263e;
    color: #fff;
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
}*/
.page-sidebar .sidebar-header {
    background-color: #a6263e;
    border-bottom: 1px solid #a6263e;
}

.page-sidebar .sidebar-menu .menu-items {
    background-color: #a6263e;
}

.page-sidebar a, .page-sidebar button {
    color: #cacaca;
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu {
    background-color: #7f1529;
}

.page-sidebar a:visited, .page-sidebar button:visited, .page-sidebar a:focus, .page-sidebar button:focus {
    color: #ffffff;
}

.icon-thumbnail {
    background: #ffffff;
}

.page-sidebar .sidebar-menu .menu-items li:hover > .icon-thumbnail, .page-sidebar .sidebar-menu .menu-items li.open > .icon-thumbnail, .page-sidebar .sidebar-menu .menu-items li.active > .icon-thumbnail {
    color: #788195;
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li .icon-thumbnail {
    background-color: #fff;
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li:hover > .icon-thumbnail {
    color: #788195;
}

/************************
Slider
************************/

.page-sidebar {
    background-color: #18171d;
}

.icon-thumbnail {
    border-radius: 50%;
}

/*navbar*/

.dropdown-menu.profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    left: inherit;
}

/*Input*/
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: #f8f8f8;
    color: rgb(98, 98, 98);
}

/*image zoom dashboard*/
#zoomImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#zoomImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100001; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*responsivenes*/
@media only screen and (max-width: 425px){
    .panel-heading {
        text-align: center;
    }
    .panel-heading > div{
        float: inherit !important;
    }
    .panel-heading > div > div{
        margin-bottom: 10px;
    }
}