html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif, Espuma, Roboto;
}

.nav-wrapper {
    background-color: #a6263e;
}

#logo {
    color: #faf09b;
}

#background {
    background-color: rgb(244, 244, 244);
}

.footer {
    background-color: #a6263e;
}

#btn-daftar {
    background-color: #790000;
}

#btn-daftarform {
    background-color: rgb(87, 177, 80);
}

.big-rectangle {
    background-color: rgba(166, 38, 62, 0.59);
}

.slider-card {
    background-color: rgba(166, 38, 62, 0.59);
    padding: 10px 20px 10px 20px;
}

#user-icon {
    height: 100px;
    width: 100px;
}

.slider .slides li img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.slider .indicators .indicator-item.active {
    background-color: #a6263e;
}

#search-bar {
    border-width: 5px;
    border-style: groove;
    border-color: #a6263e;
    /*padding-top: 15px;*/
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#advanced-search {
    border-width: 5px;
    border-style: groove;
    border-color: #a6263e;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#card-babysitter {
    background-color: #efeaea;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.avatar {
    width: 100%;
}

#search-label {
    padding-bottom: 0px;
}

.collapsible-body {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

.card .location {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

.maroon {
    background-color: #a6263e;
    color: #fff;
}

.dark-maroon {
    background-color: #790000;
    color: #fff;
}

i.bintang {
    color: #ffab00;
}

.card-title {
    color: #faf09b;
}

.card-content {
    color: #fff;
    padding-bottom: 0px;
}

.page-footer {
    margin-top: 0px;
    padding-top: 0px;
}

.z-depth-baru {
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* label focus color */

.input-field input:focus+label {
    color: rgb(166, 38, 62) !important;
}


/* label underline focus color */

.row .input-field input:focus {
    border-bottom: 1px solid rgb(166, 38, 62) !important;
    box-shadow: 0 1px 0 0 rgb(166, 38, 62) !important
}

#form-registrasi {
    padding: 50px;
}

.h4-baru {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
    border-bottom-color: rgb(230, 230, 230);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    color: rgb(128, 128, 128);
}

#gap-space {
    margin-top: 50px;
}

@media all and (max-width: 699px) {
    #form-registrasi {
        padding: 25px;
    }
    .h4-baru {
        font-size: 1.28rem;
        line-height: 110%;
        margin: 1.14rem 0 0.912rem 0;
        border-bottom-color: rgb(230, 230, 230);
        border-bottom-style: solid;
        border-bottom-width: 3px;
        color: rgb(128, 128, 128);
    }
    div#pd-form {
        width: 10%;
    }
    div#main-form {
        width: 80%;
    }
    #gap-space {
        margin-top: 30px;
    }
}


/*Modal login*/

div#login {
    width: 30%;
}

@media all and (max-width: 699px) {
    div#login {
        width: 80%;
    }
}


/*set a border on the images to prevent shifting*/

#gallery_01 img {
    border: 2px solid white;
}


/*Change the colour*/

.active img {

   
    
}

.tabs .tab a {
    background-color: #a6263e;
    color: #fff;
}

.tabs .tab a:hover {
    background-color: #f9c9cb;
    color: #000;
}


/*.card-title .babysitter{
    color: black;
}
*/

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 20%;
    background-color: #f6b2b5;
    color: #000;
    will-change: left, right
}

.input {
    border-bottom-color: black;
}


/*paragraph*/

.paragraph h4 {
    color: #484848;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.paragraph p {
    font-size: 22px;
    color: #a79d9d;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    font-weight: 200;
}


/**/

.about-us-cover{
    background-image: url('../images/slider3.jpg');
    background-position:center;
    background-size: 100% auto;
    height:480px;
    margin-top:-40px;
   
}

@media all and (max-width: 699px) {
    .about-us-cover{
        background-size: auto 100%;
    }

}

.about-us-info{
    padding-top: 100px;
}

.about-us-cover h1,
.about-us-cover h2,
.about-us-cover h3,
.about-us-cover h4,
.about-us-cover h5,
.about-us-cover h6{
    position: relative;
    color: #fff;
    text-align: center;
    font-weight: 600;
    z-index: 2;
}

.about-us-link{
 text-align: center;
    font-weight: 600;
    
}

/*Overlay*/
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    height: 580px;
}
.overlay-color {
    background-color : rgba(60,
    9,
    18,
    0.59);
}

   
.status-done{
    background-color: #a6263e; 
    height: 64px; 
    width: 64px; 
    border-style: none; 
    padding: 12px;
}

.status-notyetdone{
    background-color: #bdbdbd;
    height: 64px;
    width: 64px;
    border-style: none;
    padding: 12px;
}

.header-icon{
    height: 32px;
    width: 32px;
}

a{
    cursor: pointer;
}

i{
    cursor: pointer;
}